<!-- sidebar menu: : style can be found in sidebar.less -->
<ul class="sidebar-menu">
  <li class="header">MAIN NAVIGATION</li>
  <li class="active">
    {{#link-to 'application'}}
      <i class="fa fa-dashboard"></i> <span>Main page</span>
    {{/link-to}}
  </li>
  <li>
    {{#link-to 'author'}}
      <i class="fa fa-dashboard"></i> <span>Авторы</span>
    {{/link-to}}
  </li>
  <li>
    {{#link-to 'composition'}}
      <i class="fa fa-book"></i> <span>Произведения</span>
    {{/link-to}}
  </li>
</ul>