{{!-- The following component displays Ember's default welcome message. --}}
{{#if session.isAuthenticated}}
<button {{action 'logout'}}>Logout</button>
{{else}}
  {{#link-to 'login'}}
     Login
  {{/link-to}}
{{/if}}
{{!-- Feel free to remove this! --}}

{{outlet}}
